
<div class="well">
  <h3>Your shopping cart</h3>
  <div ng-show="isEmpty()" class="cart emptycart">The Cart is empty</div>
  <ul>
    <li ng-repeat="item in cart">{{item}}</li>
  </ul>
</div>

<div class="row marketing">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 product" ng-repeat="item in items">
          <h4>{{item.name}}</h4>
          <p>Category: {{item.category}}</p>
          <p>{{item.price | currency:'£'}}</p>
          <p><strong>{{item.quantity}} left in stock</strong></p>
          <p><a class="btn btn-default" role="button" ng-click="addItem($index)">Add to cart</a></p>
        </div>
      </div>
</div>
