<div class="well">
  <h3>Your shopping cart
    <i class="glyphicon glyphicon-shopping-cart"></i>
  </h3>
  <div ng-show="isEmpty()" class="cart emptycart">The Cart is empty</div>
    <div class="row">

      <div class="col-md-12" ng-hide="isEmpty()">
        <div class="col-md-6">Product</div>
        <div class="col-md-2">Price</div>
        <div class="col-md-2">Quantity</div>
      </div>

      <div class="col-md-12 cart-product" ng-repeat="item in cart track by $index">
        <div class="col-md-6"><strong class="item-cart-name">{{item.name}}</strong><br>({{item.category}})</small></h4></div>
        <div class="col-md-2">{{item.price | currency: '£'}}</div>
        <div class="col-md-2"><input type="number" ng-model="item.desiredQuantity" ng-init="item.desiredQuantity = 1" class="form-control item-quantity" ng-disabled="outOfStock(item)"></div>
        <div class="col-md-2"><a class="btn btn-default btn-sm rmv-btn" role="button" ng-click="removeItem(item)">Remove</a></div>
      </div>

      <div class="col-md-12">
        <div class="col-md-6 total-price" ng-hide="isEmpty()"><h4>Total price: {{total() | currency: '£'}}</h4></div>
      </div>

      <div class="col-md-12" ng-hide="isEmpty()">
        <div>Redeem a voucher:</div>
        <div ng-repeat="voucher in vouchers" class="btn btn-default btn-voucher valid-{{validVoucher}}" ng-click="selectVoucher(voucher)" ng-disabled="buttonClicked">
          {{voucher.description}}
        </div>
        <span ng-show="selectVoucher" class="label label-{{validVoucher}}">{{voucherMessage}}</span>
      </div>

    </div>
</div>
<div>
  <div class="row marketing">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4 product" ng-repeat="item in items">
            <h4>{{item.name}}</h4>
            <img ng-src="{{item.imgurl}}" height="100px">
            <p>Category: {{item.category}}</p>
            <p>{{item.price | currency:'£'}}</p>
            <p><strong class="item-quantity">{{item.quantity}} left in stock</strong></p>
            <p><a class="btn btn-default add-btn" role="button" ng-click="addItem(item)" ng-disabled="outOfStock(item)">Add to cart</a></p>
          </div>
        </div>
  </div>
</div>